@import "tailwindcss";

:root {
  --background: #0D0D0D;
  --foreground: #efefef;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-outfit)
}


.my-shadow{
  position: absolute;
  width: 50px; 
  height: 50px;
  background: #ffffff;
  border-radius: 100%;
  filter: blur(45px);
  z-index: 100;
  box-shadow: 0 0 100px 1px #ffffff;
}

.my-drop-shadow{
  filter: drop-shadow(0 0 2 #ffffff);
}